<!DOCTYPE html>
<html ng-app="bksearch" lang="en">

<head>
  <meta charset="utf-8">
  <title>Barikoi Search Demo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/leaflet.css" />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/ngProgress.css">
  <script src="./assets/js/leaflet.js"></script>
  <script src="//code.angularjs.org/1.3.1/angular.js" data-semver="1.3.1" data-require="angular.js@*"></script>

  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js" data-semver="0.10.0" data-require="angular-ui-bootstrap@0.10.0"></script>
  <script data-require="angular-leaflet-directive@*" data-semver="0.7.15" src="https://cdn.rawgit.com/tombatossals/angular-leaflet-directive/d47897e0f784e8a6f12f3148fa6c92dd76abbb32/dist/angular-leaflet-directive.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Niramit:300,400,500,600" rel="stylesheet">


  <script src="./assets/js/angular-loading-overlay.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/http-service.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="MainController">
  <div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="first">
    <!-- <i class="material-icons prefix">location_on</i> -->
    <!-- <div class="error_message">{{error_message}}</div> -->
    <!-- <nav class="navbar sticky-top  flex-sm-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="./assets/img/Barikoi logo.png" alt="" srcset="" style="max-width:100%;"></a>
        <input type="text" class="control form-bkoi" id=" pac-input" ng-class="{ searchBarFocus: focus, searchBarBlur: blur }"
        name="search" placeholder="House/Road/Block/Section/Area" typeahead-on-select='onSelect($item)' typeahead="user.Address for user in users($viewValue)"
        ng-model="selecting" aria-autocomplete="list" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;"
        autocomplete="off">
  </div>
  <leaflet class="b-map" id="map-canvas" center="center" lf-zoom="22" defaults="defaults" event-broadcast="events"
    markers="markers"  layers="layers"> -->

    <div>
        <i class="sidebar fas fa-bars" ng-click="sidebar()"></i>
      <input id="pac-input" class="controls input-box" type="text"
        ng-class="{ searchBarFocus: focus, searchBarBlur: blur }" name="search" placeholder="House/Road/Block/Section/Area"
        typeahead-on-select='onSelect($item)' typeahead="user.Address for user in users($viewValue)" ng-model="selecting"
        aria-autocomplete="list" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" autocomplete="off" >
        <!-- <div class="error_message">{{error_message}}</div> -->
        <div class="location-details" ng-show=addressDetails>
          <h5><i class="material-icons prefix place-icon">location_city</i> Address:</h5>
          <p>{{selected.Address}} {{selected.area}}</p>
          <p class="barikoi-code"> Code for your address : <text>{{selected.uCode}}</text></p>
          <p>Location Type: <strong>{{selected.pType}}</strong></p>
          <span><small>Please use the code next time to get things done faster</small></span>
    
        </div>
        <div class="no-result" ng-if="error_message">
          <img src="assets/img/noresult.png" alt="">
        </div>

      <leaflet class="b-map" id="map-canvas" center="center"
        lf-zoom="22" defaults="defaults" event-broadcast="events" markers="markers" layers="layers">
    </div>

    <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col wrapper bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="first">
          <h2><img src="./assets/img/Barikoi logo.png" alt=""> Autocomplete</h2>
          <img class="col-md-6 col-xs-12 bkoi-logo" src="./assets/img/Barikoi logo.png" alt="">
          <h3 class="col-md-6 col-xs-12"> Autocomplete</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col-md-12 ">
        <i class="material-icons prefix">location_on</i>
        <div class="error_message">{{error_message}}</div>
        <input type="text" id="autocomplete-input" class="autocomplete" ng-class="{ searchBarFocus: focus, searchBarBlur: blur }"
          name="search" placeholder="Start Typing.." typeahead-on-select='onSelect($item)' typeahead="user.Address for user in users($viewValue)"
          ng-model="selecting" aria-autocomplete="list" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;"
          autocomplete="off">

        <span><small>Address format: House/Road/Block/Section/Area</small></span>
      </div>
    </div>
    <div class="row wrapper-2">
      <div class="col three s6">
        <h5><i class="material-icons prefix">location_city</i> Address:</h5>
        <p><i>{{selected.Address}} {{selected.area}}</i></p>
        <p> Code for your address : <strong>{{selected.uCode}}</strong></p>
        <p>Location Type: <strong>{{selected.pType}}</strong></p>
        <span><small>Please use the code next time to get things done faster</small></span>

      </div>
      <div class="col-md-12 four">
        <div class="card">
          <div class="card-content">

            <leaflet class="b-map" center="center" lf-zoom="16" defaults="defaults" event-broadcast="events" markers="markers"
              height="100vh" min-width="100vh" layers="layers">
          </div>

        </div>
      </div>

    </div>
  </div> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!--  <script type="text/javascript">
     document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(elems, options);
      });
      // Or with jQuery
    $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
        "Apple": null,
        "Microsoft": null,
        "Google": 'https://placehold.it/250x250',
        "Barikoi": 'markersize_69.png',
        "Sarker Bari": null
      },
    });
    });
    </script> -->
</body>


</html>