/* .input-field>ul {
    width: -webkit-fill-available;
    display: grid;
    color: #000;
    background:#fff !important;
    z-index: 1001;
    position: absolute;
    padding: inherit;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: inline-grid;
    float: left;
    min-width: 5rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

ul.dropdown-menu {
    display: none;
}


.searchfield>input {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.input-field>ul>li {
    margin: inherit;
    padding: inherit;
    background: url('../img/markersize_69.png') no-repeat;
    background-position: right top;
    background-clip: padding-box;
    background-size: contain;

}

.input-field>ul>li>a:focus {
    color: #000;
    margin: inherit;
    padding: inherit;
    background: url('../img/markersize_69.png') no-repeat;
    background-position: right top;
    background-clip: padding-box;
    background-size: contain;

}

.form-bkoi,
.form-bkoi:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: none !important;
}

.form-bkoi {
   
    max-width: 50% !important;
} */

/*
.bkoi-logo {
    text-align: center;
    max-width: 30%;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }


@media only screen 
and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {

} */

.input-box {
    position: absolute;
    width: 28em;
    height: 3em;
    margin: .8em 0 0 4em;
    z-index: 1;
}

html,
body,
#map-canvas {
    margin: 0px;
    padding: 0px;
    font-family: 'Niramit', sans-serif;
    text-decoration: none;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    /* font-size: 15px; */
    font-weight: 300;
    margin: .7em 0 0 3em;
    padding: 0 11px 0 13px;
    text-overflow: ellipis;
    width: 29.8em;
    height: 3em;
}

.dropdown-menu {
    background-color: #fff;
    width: 30em;
    margin-top: 0.4em;
    /* height: 100vh; */
    max-height: 500px;
    overflow: auto;
}

.dropdown-menu li {
    padding: 0.5em 1em .5em 2em;
}

.dropdown-menu li a {
    color: #000;
    list-style: none;
}

.dropdown-menu li:hover,
.dropdown-menu li a:hover {
    background-color: rgb(49, 235, 95);
    text-decoration: none;
}

.dropdown-menu li:last-child {}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.b-map {
    height: 100vh;
    position: relative;
}

.location-details {
    z-index: 2;
    position: absolute;
    width: 29.8em;
    margin: 4.5em 0 0 3.1em;
    padding: 1em;
    background-color: #fff;
}

.barikoi-code text{
    color: #549431;
    font-weight: 600;
    padding-left: .1em;
}

.sidebar {
    position: absolute;
    z-index: 2;
    margin: 4.5em 0 0 .5em;
    background-color: #fff;
    padding: .5em;
    border-radius: 10%;
}

.no-result {
    z-index: 2;
    position: absolute;
    width: 29.8em;
    height: 18em;
    margin: 4.5em 0 0 3.1em;
    padding: 1em;
    background-color: #fff;
}

.no-result img {
    padding:0 0 0 2.5em;
    max-width: 100%;
    max-height: 100%;
}

.place-icon {
    padding-top: .5em;
}