<md-bottom-sheet class="md-list md-has-header" style="background-color: black;">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
      <link data-require="angular-material@0.9.0" data-semver="0.9.0" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css" />
      <link rel="stylesheet" href="./assets/css/leaflet.css" />
      <link rel="stylesheet" href="./assets/css/style.css" />
      <link rel="stylesheet" href="/assets/css/ngProgress.css">
      <link href="https://fonts.googleapis.com/css?family=Niramit:300,400,500,600" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Niramit:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="row">
        <div class="col s12 m6">
            <div class="card black">
                <div class="card-content white-text">
                    <span class="card-title">{{location[0].uCode}}</span>
                    <p><span><i class="material-icons place-icon">location_city</i>
                        </span>{{location[0].Address}}, {{location[0].Area}}</p>
                    <p>Location Type: {{location[0].pType}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.angularjs.org/1.4.0/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.4.0/angular-aria.js"></script>
    <script  src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js" data-semver="0.10.0" data-require="angular-ui-bootstrap@0.10.0"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</md-bottom-sheet>

<!-- test -->
<!-- <link rel="stylesheet" href="assets/css/bottomsheet.css">
<md-bottom-sheet class="md-grid" layout="column">

    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Card with image</span>
                <span class="md-subhead">Large</span>
            </md-card-title-text>

        </md-card-title>

    </md-card>
    </div>
</md-bottom-sheet> -->